body, html{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 120%;
    line-height: 1.6;
    color: #443d3c;
}

/* Hide every "window" after the first one until needed */
#billRequest, #tipRequest, #nameRequest, #splitBills{
    display: none;
}

button{
    border-radius: 3px;
    text-align: center;    
    font-family: 'Open Sans', sans-serif;    
    font-size: 65%;
    font-weight: bold;
    cursor: pointer    
}

/* Every forward button has the same styling */
.backButton{
    background: coral;
    padding: 1em 2em;
    color: rgba(255,255,255,0.9);
    border: 1px solid #cd5b45;    
    font-size: 75%;
    text-shadow: 0 1px 2px rgba(0,0,0,0.2);
}

/* Back button also has the same styling */
.forwardButton{
    background:#3fa5ca;
    padding: 1em 2em;
    color: rgba(255,255,255,0.9);
    border: 1px solid #266379; /* Green */
    font-size: 75%;    
    text-shadow: 0 1px 2px rgba(0,0,0,0.2);
}

/* Every modal window except the last screen should be perfectly centered */
.modal{    
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    animation-name: modalopen;
    animation-duration: 750ms;
}

.modal-content{
    background-color: #fff;
    margin: 0 auto;
    /* padding :20px; */
    width: 80%;
    /* box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0,0.2); */
}

.modal-header{
    text-align: center;
}

#finalScreenTotalBill{
    font-weight: bold;
}

table{
    margin-bottom: 2%;
}

table, tr, td{
    /* border: 2px solid black; */
    text-align: center;
    border-collapse: collapse;
    margin-top: 2%;    
    width: 75%;
}

td{    
    height: 50%;
    width: 50%;
}

.splitanimation{
    animation-name: modalopen;
    animation-duration: 1000ms;
}

.splitbills{
    position: relative;
    top: 50%;
    transform: translateY(-50%);    
}

.split-header{
    text-align: center;
    font-size: 200%;
    height: 50%;
}

.splitbills-content{
    background-color: #fff;
    text-align: center;
    margin: 0 auto;
    padding :20px;
    width: 80%;
    overflow: auto;
    /* box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0,0.2); */
}

.individual-split{
    display: block;
    background-color: #fff;
    border-radius: 5px;
    border-top: 10px solid #3489a8;
    margin: 5% auto;
    padding :20px;
    width: 60%;
    height: 350px;
    box-shadow: 0 5px 8px 0 rgba(68,61,60,0.2), 0 7px 20px 0 rgba(68,61,60,0.2);
}

.edit-button{
    font-size: 50%;
    font-weight: bold;
    color: #cd5b45;
    font-family: 'Open Sans', sans-serif;            
    cursor: pointer;
    margin-left: 3%;
}

.save-button, .fa-check{
    display: none;
    font-size: 75%;
    font-weight: normal;
    color: darkseagreen;
    font-family: 'Open Sans', sans-serif;      
    cursor: pointer;
    margin-right : 4%;
    margin-left: 4%;
}

.cancel-button, .fa-times{
    display: none;
    font-size: 75%;
    font-weight: normal;
    color: darkred;
    font-family: 'Open Sans', sans-serif;            
    cursor: pointer;    
}

/* .money-owed:focus, .bill-percentage:focus{
    padding: 1% 3% 1% 3%;
    margin-right: 3%;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0,0.2);
} */

@keyframes modalopen{
    from{ opacity: 0 }
    to{ opacity: 750ms}
}

@keyframes splitopen{
    from{ opacity: 0 }
    to{ opacity: 750ms}
}

h1{
    text-align: center;    
    font-family: 'Open Sans Condensed', sans-serif;        
    font-weight: bold;
    overflow: auto;
}

h2{
    font-family: 'Open Sans', sans-serif;        
    font-weight: normal;
    font-size: 100%;
}

h3{
    margin-top: 2%;
    font-family: 'Open Sans', sans-serif;        
    font-weight: normal;
    font-size: 80%;
}

input{
    text-align: center;
    font-size: 90%;
    width:30%;    
    padding-top: 1%;
    padding-bottom: 1%;
    margin-top: 1%;
    margin-bottom: 3%;
    border-radius: 3px;
    border: 1px solid #443d3c;
}

